<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.miwok">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name="com.example.courtcounter.NumberClickListener"></activity>
        <activity android:name="com.example.courtcounter.splashscreen"
            android:theme="@style/splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name="com.example.courtcounter.MainActivity"
        android:theme="@style/Theme.AppCompat.Light"/>



    <activity
            android:name="com.example.courtcounter.NumbersActivity"
            android:label="Numbers"
            android:parentActivityName="com.example.courtcounter.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.courtcounter.MainActivity" />
        </activity>
        <activity
            android:name="com.example.courtcounter.FamilyActivity"
            android:label="family"
            android:parentActivityName="com.example.courtcounter.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.courtcounter.MainActivity" />
        </activity>
        <activity
            android:name="com.example.courtcounter.ColorActivity"
            android:label="color"
            android:parentActivityName="com.example.courtcounter.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.courtcounter.MainActivity" />
        </activity>
        <activity
            android:name="com.example.courtcounter.PhasesActivity"
            android:label="phrases"
            android:parentActivityName="com.example.courtcounter.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.courtcounter.MainActivity" />
        </activity>
    </application>

</manifest>